<div class="contain">

  <h1>
    <%= @article.title %>
    <%= link_to edit_article_path do %>
    <i class="fas fa-edit"></i>
    <% end %>
    <%= link_to article_path, method: :delete do %>
    <i class="fas fa-trash"></i>
    <% end %>


  </h1>
  <p><%= @article.content %></p>
</div>
